html {
    position: relative;
}

a {
    text-decoration: none !important;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    background-color: rgb(32, 32, 32);
}

.img-logo {
    width: 90px;
    height: 55px;
    margin: 10px 0;
}

.spacing-header-text {
    margin: 25px 0;
}

.spacing-header-text a {
    margin-left: 20px;
    color: whitesmoke;
}

.spacing-header-text a:hover {
    opacity: 0.7;
}

section {
    width: 100%;
    min-height: 800px;
    margin-top: 80px;
}

.jadwal-place {
    border-radius: 15px;
    width: 100%;
    min-height: 400px;
    background-color: black;
    padding: 10px 0 0 0;
}

.jadwal-searching {
    margin: 20px 0;
}

.jadwal-matkul {
    border-radius: 15px;
    width: 100%;
    min-height: 400px;
    background-color: grey;
    margin: 65px 0;
}

.jadwal-matkul th {
    text-align: center;
}

.jadwal-matkul table,
th {
    border: none;
}

.jadwal-matkul td {
    border: none !important;
}

.mata-kuliah {
    width: 90%;
    min-height: 100px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: whitesmoke;
}

.mata-kuliah p {
    margin: 15px 0;
}

.mata-kuliah input[type="button"] {
    width: 90%;
    border-radius: 20px;
}
.kelas-paralel.terpilih {
    background-color: red;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-number {
    float: left;
}

.active {
    background-color: blue;
}

.kelas-paralel.terpilih {
    background-color: red;
}

.jadwal {
    background-color: red;
    position: absolute;
}
